@import "../variables";

.translate {
    transform: translateX(-100%); /* Start off-screen to the left */
}

.slideIn {
    transition: transform 0.3s ease-in-out; /* Transition for smooth animation */
  }

.scrollableContainer {
    width: 100vw;
    position: fixed;
    height: 100vh;
    display: flex;

    & .newInvoiceFormContainer {
        width: 50%;
        display: flex;
        justify-content: space-between;
        background-color: white; /* Semi-transparent black background */
        ::-webkit-scrollbar {
            background: white;
            width: 8px;
          }
          ::-webkit-scrollbar-thumb {
            background: #DFE3FA;
            height: 112px;
            border-radius: 4px;
          }
        
    }
    & .newInvoiceFormQuit {
        width: 50%;
        height: 100vh;
        background-color: transparent;
        
    }
    & nav {
        width: 12%;
        
    }
    & form {
        width: 86%;
        max-height: 100vh; /* Adjust the desired maximum height */
        overflow-y: auto; /* Enable vertical scrollbar when content overflows */
    }
}

.invoiceForm {
    //width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & input {
        border-radius: 4px;
        border: 1px solid var(--05, #DFE3FA);
        background: #FFF;
        padding-left: 15px;
        outline: none;
        display: flex;
        flex-direction: column;
        &:focus {
            border: 1px solid $purple;
        }
    }
    & label {
        margin-left: 10px;
        margin-bottom: 7px;
        color: $purpleDerived;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 15px; /* 115.385% */
        letter-spacing: -0.1px;
    }
    & .formTitle {
        color: $black;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.5px;
    }
    & .invoiceFormTop {
        width: 95%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        & .billFromTitle {
            color: $purple;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: 15px; /* 100% */
            letter-spacing: -0.25px;
        }
        & .billFromTop {
            display: flex;
            flex-direction: column;
            & input {
                width: 95%;
                height: 48px;
            }
        }
        & .billFromBottom {
            display: flex;
            justify-content: space-between;
            width: 95%;
            margin-top: 20px;
            & input {
                height: 48px;
            }
            & .city {
                width: 27%;
                & input {
                    width: 100%;
                    margin-top: 7px;
                }
            }
            & .postCode {
                width: 27%;

                & input {
                    width: 100%;
                    margin-top: 7px;

                }
            }
            & .country {
                width: 27%;
                & input {
                    width: 100%;
                    margin-top: 7px;

                }
            }
        }
    }
    
    & .invoiceFormCenter {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        width: 95%;
        & .billToTop {
            display: flex;
            flex-direction: column; 
            & .billToTitle {
                color: $purple;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 15px; /* 100% */
                letter-spacing: -0.25px;
            }
            & input {
                height: 48px;
            }
            & .clientName {
                width: 90%;
                margin: 10px 0;
                & input {
                    width: 100%;
                    margin-top: 7px;
                }
            }
            & .clientEmail {
                width: 90%;
                margin: 10px 0;
                & input {
                    width: 100%;
                    margin-top: 7px;

                }
            }
            & .clientStreetAddress {
                margin-top: 10px;
                margin-bottom: 20px;
                width: 90%;
                & input {
                    width: 100%;
                    margin-top: 7px;
                    
                }
            }
        }
        & .billToCenter {
            display: flex;
            justify-content: space-between;
            width: 89%;
            & input {
                height: 48px;
            }
            & .clientCity {
                width: 27%;
                & input {
                    width: 100%;
                    margin-top: 7px;
                }
            }
            & .clientPostCode {
                width: 27%;

                & input {
                    width: 100%;
                    margin-top: 7px;

                }
            }
            & .clientCountry {
                width: 27%;
                & input {
                    width: 100%;
                    margin-top: 7px;

                }
            }
        }
    }
    
   & .invoiceFormBottom {
        display: flex;
        flex-direction: column;
        width: 95%;
        & .invoiceFormBottomTop {
            display: flex;
            flex-direction: column;
            & .invoiceFormBottomTopTop {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                width: 95%;
                & input {
                    height: 48px;
                }
                & .invoiceDate {
                    width: 45%;
                    & input {
                        width: 100%;
                        margin-top: 7px;
                        outline: none;
                    }
                    
                }
                & .paymentTerms {
                    width: 45%;
                    & .paymentTermsInputContainer {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        & svg {
                            position: relative;
                            right: 40px;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    & .paymentTermsInput {
                        &:hover {
                            cursor: pointer;
                            border: 1px solid $purple;
                        }
                    }
                    & input {
                        width: 100%;
                        margin-top: 7px;
                    }
                    & .options {
                        //position: absolute;
                        width: 100%;
                        background-color: #fff;
                        border: 1px solid #ccc;
                        border-radius: 0 0 4px 4px;
                        border-top: none;
                        border-radius: 0 0 4px 4px;
                        //z-index: 1;
                        & .option {
                            padding: 15px 15px;
                            transition: background-color 0.2s;
                            border-top: 1px solid #ccc;
                            text-decoration: none;
                            &:hover {
                                background-color: #f0f0f0;
                                cursor: pointer;
                                color: $purple;
                            }
                          }
                    }
                    
                }
            }
            & .invoiceFormBottomTopBottom {
                display: flex;
                flex-direction: column;
                & input {
                    width: 95%;
                    height: 48px;
                }
            }
        }
    }
    & .formButtons {
        position: sticky;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 1;
        border-radius: 0px 20px 20px 0px;
        background: #FFF;
        padding-top: 20px;
        & .formButtonsLeft {
            margin-left: 15px;
        }
        & .formButtonsRight {
            display: flex;
            justify-content: space-between;
            width: 40%;
            margin-right: 15px;
        }
    }
}


/*AJOUT TEMPORAIRE*/

.itemList {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 80px;
    & .itemListForm {
        width: 100%;
    }
    & .itemListTitle {
        color: #777F98;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 177.778% */
        letter-spacing: -0.375px;
        margin-left: 15px;
        margin-top: 20px;
    }
    & .inputsItemList {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        & .itemNameInListInput {
            display: flex;
            flex-direction: column;
            width: 37%;
        }
        & .itemQuantityInput {
            display: flex;
            flex-direction: column;
            width: 15%;
        }
        & .itemPriceInput {
            display: flex;
            flex-direction: column;
            width: 25%;
        }
        & label {
            color: #7E88C3;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 15px; /* 115.385% */
            letter-spacing: -0.1px;
            margin: 0 0 15px 15px;

        }
        & input {
            border-radius: 4px;
            border: 1px solid var(--05, #DFE3FA);
            background: #FFF;
            margin: 0 15px 0 15px;
            display: flex;
            flex-direction: column;
            height: 48px;
        }
        & .total {
            display: flex;
            align-items: center;
            & .totalPrice {
                & h5 {
                    color: #7E88C3;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 15px; /* 115.385% */
                    letter-spacing: -0.1px;
                    margin: 10px 0px 10px 0px;
                }
                & p {
                    color: #888EB0;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 15px; /* 100% */
                    letter-spacing: -0.25px;
                    margin: 10px 0px 10px 0px;

                }
            }
            & .trash {
                margin-left: 25px;
                width: 20px;
                height: 24px;
                & path {
                    &:hover {
                        fill: red!important;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.item {
    margin-bottom: 20px;
}

.addNewItemButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    height: 48px;
    border-radius: 24px;
    background-color: #F9FAFE;
    color: $purpleDerived;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 100% */
    letter-spacing: -0.25px;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 100% */
    letter-spacing: -0.25px;
    &:hover {
        background-color: $lightViolet;
        cursor: pointer;
    }
}



//Responsive

@media (max-width: 1650px) and (min-width: 1450px) {
    .newInvoiceFormContainer {
        width: 60%!important;
    }
}

@media (max-width: 1449px) and (min-width: 1300px) {
    .newInvoiceFormContainer {
        width: 67%!important;
    }
    .invoiceForm {
        & .formButtonsRight {
            width: 44%!important;
        }
    }
}

@media (max-width: 1229px) and (min-width: 1050px) {
    .newInvoiceFormContainer {
        width: 72%!important;
    }
    .invoiceForm {
        & .formButtonsRight {
            width: 52%!important;
        }
    }
}

@media (max-width: 1049px) and (min-width: 900px) {
    .newInvoiceFormContainer {
        width: 77%!important;
    }
    .invoiceForm {
        & .formButtonsRight {
            width: 58%!important;
        }
    }
}

@media (max-width: 899px) and (min-width: 769px) {
    .newInvoiceFormContainer {
        width: 100vw!important;
    }
     .newInvoiceFormQuit {
        display: none;
    }
    .invoiceForm {
        & .formButtonsRight {
            width: 50%!important;
        }
    }
}

@media (max-width: 768px) and (min-width: 600px) {
    .newInvoiceFormContainer {
        width: 100vw!important;
    }
     .newInvoiceFormQuit {
        display: none;
    }
    .invoiceForm {
        width: 100vw!important;
        & .formButtonsRight {
            width: 50%!important;
        }
    }
    .customSideBar {
        display: none!important;
    }
}

@media (max-width: 599px) and (min-width: 500px) {
    .newInvoiceFormContainer {
        width: 100vw!important;
    }
     .newInvoiceFormQuit {
        display: none;
    }
    .invoiceForm {
        width: 100vw!important;
        & .formButtonsRight {
            width: 55%!important;
        }
    }
    .customSideBar {
        display: none!important;
    }
}

@media (max-width: 499px) and (min-width: 450px) {
    .newInvoiceFormContainer {
        width: 100vw!important;
    }
     .newInvoiceFormQuit {
        display: none;
    }
    .invoiceForm {
        width: 100vw!important;
        & .formButtonsRight {
            width: 60%!important;
        }
    }
    .customSideBar {
        display: none!important;
    }
}

@media (max-width: 449px) and (min-width: 400px) {
    .newInvoiceFormContainer {
        width: 100vw!important;
    }
     .newInvoiceFormQuit {
        display: none;
    }
    .invoiceForm {
        width: 100vw!important;
        & .formButtonsRight {
            width: 65%!important;
        }
    }
    .customSideBar {
        display: none!important;
    }
}

@media (max-width: 399px) and (min-width: 350px) {
    .newInvoiceFormContainer {
        width: 100vw!important;
    }
     .newInvoiceFormQuit {
        display: none;
    }
    .invoiceForm {
        width: 100vw!important;
        & .formButtonsRight {
            width: 73%!important;
            & button {
                width: 108px!important;
                margin: 0 2.5px;
            }
        }
    }
    .customSideBar {
        display: none!important;
    }
}

@media (max-width: 349px) and (min-width: 300px) {
    .newInvoiceFormContainer {
        width: 100vw!important;
    }
     .newInvoiceFormQuit {
        display: none;
    }
    .invoiceForm {
        width: 100vw!important;
        & .formButtonsLeft {
            & button {
                width: 80px;
            }
        }
        & .formButtonsRight {
            width: 79%!important;
            & button {
                width: 105px!important;
                margin: 1.5px;
            }
        }
    }
    .customSideBar {
        display: none!important;
    }
}

