@import "../components/variables";

.relative {
    position: relative!important;
}

body {
    font-family: $font;
    margin: 0 0;
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
    background-color: #f8f8fb;
    & ul, ol {
        list-style-type: none;
      }
      
    & input {
        font-family: $font;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px; /* 100% */
        letter-spacing: -0.25px;
    }
    & .homePage {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

.none {
    display: none;
}

.flex {
    display: flex;
    flex-direction: column;
}

//Responsive 

@media (max-width: 768px) {
    .homePage {
        flex-direction: column;
        justify-content: flex-start;
    }
}