$purple: #7C5DFA;
$purpleHover: #9277FF;
$darkBlue: #1E2139;
$darkBlueHover: #252945;
$lightViolet: #DFE3FA;
$lightGray: #888EB0;
$purpleDerived: #7E88C3;
$black: #0C0E16;
$red: #EC5757;
$redHover: #FF9797;
$white: #F8F8FB;
$navyBlue: #141625;
$font: var(--font-leagueSpartan)